<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>automate</title>
    <link rel="stylesheet" href="../cssfile/index.css" />
  </head>
  <body>
    <form class="automate-form">
      <ul>
        <a href="http://127.0.0.1:8000/workflow/autoresponder"
          ><h2>Autoresponder</h2>
        </a>
        <a href="http://127.0.0.1:8000/workflow/ec_mktn"
          ><h3>Ecommerce & Marketing</h3></a
        >
        <a href="http://127.0.0.1:8000/workflow/blank"><h3>Blank</h3></a>
      </ul>
    </form>
  </body>
</html>
