<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <label for="automation">
        <input type="text" placeholder="enter text here">Enter automation name
        <h1></h1>
        <input type="checkbox">Welcome new Subscribers
        <h1></h1>
        <input type="checkbox">Respond to subscriber changes
    </label>
    <h1></h1>
    <a href="http://127.0.0.1:8000/workflow/autoresponder/create">create</a>
    <a href="http://127.0.0.1:8000/workflow/automate">cancel</a>
</form>
</body>
</html>